.topButton {
    text-decoration: none;
    display: inline-block;
}
.websiteButton {
    text-decoration: none;
    display: inline;  
    text-align: left;
    color:orange;
}
.header
{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1px 20px;
    width: calc(100vw - 40px);
    position: fixed;
    margin-top: 1%;
}
.header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header a:hover {
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
}
.header a:active {
    background-color: rgb(53, 53, 53);
    color: white;
}
.header-button {
    float: right;
}
.start
{
    background-image: url("background.png");
    width: calc(100vw-40px);
    height: 500px;
    background-repeat: no-repeat;
    background-position:top;
    background-size: auto;
    margin-top: -1%;
    padding-top: 5%;
}
.start p
{
    text-align: center;
    color: white;
    font-size:xx-large;
}
body{
    margin: 0px;
    padding: 0px;
    background: lightskyblue;
}
h1 {
    margin-top: 0px;
}
.main
{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background: rgba(219, 219, 219, 0.726);
    border-radius: 5px;
    border-color: rgba(185, 185, 185, 0.74);
    border: 1px solid ;
}